/* @import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100&display=swap"); */

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 78px;
    background: linear-gradient(108.56deg, #d2f3ff 0%, #ffe3e3 100%) !important;

}
.bg_blue_blob_1 {
  height: fit-content;
  background: radial-gradient(
    300px 300px at 12% 65%,
    rgba(67, 136, 240, 0.9),
    rgba(217, 217, 217, 0)
  ) !important;
}

.bg_pink_blob_2 {
  height: fit-content;
  background: radial-gradient(
    250px 250px at 95% 95%,
    rgba(234, 169, 229, 0.9) 10%,
    rgba(217, 217, 217, 0) 90%
  ) !important;
}

.bg_pink_blob_1 {
  height: fit-content;
  background: radial-gradient(
    300px 300px at 28% 50%,
    rgba(234, 169, 229, 0.9) 10%,
    rgba(217, 217, 217, 0) 90%
  );
}

.contentContainer {
    width: 1700px;
    min-height: 700px;
    max-height: fit-content;
    display: flex;
    padding-top: 100px;
    /* padding-top: 10%; */
    align-items: center;    
}

.leftcont {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    padding-right: 10%;
}

.leftcont>h1 {
    color: #ce31c4;
    font-family: "DM Sans";
    font-size: 44px;
    font-style: normal;
    font-weight: 500 !important;
    margin-bottom: 19px;
}

.leftcont>p {
    color: #313131;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 119px;
}

.leftcont button {
    width: 216px;
    height: 53px;
    display: flex;
    padding: 30px 42px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #ad00a2;
    background: #ad00a2;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    font-family: "DM Sans", sans-serif;
}

.leftcont button:hover{
    cursor: pointer;
}

.rightcont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.rightcont>img {
    width: 702px;
    height: 465px;
    border-radius: 20px;
    object-fit: contain;
}

#link{
    width: max-content;
    text-decoration: none;
}

#link:hover{
    cursor: pointer;
}

@media only screen and (max-width: 1800px) and (min-width: 1440px) {
    .contentContainer {
      width: 1420px;
    }
    .contentContainer > .leftcont {
      padding-right: 10%;
    }
  }
  
  @media only screen and (max-width: 1440px) and (min-width: 1250px) {
    .contentContainer {
      width: 1200px;
    }
    .contentContainer > .leftcont {
      padding-right: 3%;
    }
  
    .contentContainer > .leftcont > p {
      margin-bottom: 80px;
    }
  }
  
  @media only screen and (max-width: 1250px) {
    .contentContainer {
      padding-top: 50px;
  }
    .contentContainer > .leftcont {
      padding-right: 5%;
    }
    .contentContainer > .leftcont > h1 {
      font-size: 32px;
    }
    .leftcont > p {
      font-size: 16px;
      margin-bottom: 30px;
    }
  
    .rightcont > img {
      width: 600px;
      height: 400px;
    }
  }
  
  @media only screen and (max-width: 1250px) and (min-width: 980px) {
    .contentContainer {
      width: 950px;
    }
  }
  
  @media only screen and (max-width: 980px) {
    .contentContainer {
      width: 90%;
      min-height: fit-content;
      /* padding-top: 100px; */
      margin-top: 80px;
    }
    .contentContainer > .leftcont > h1 {
      font-size: 26px;
      margin: 0;
      /* line-height: normal; */
    }
    .leftcont > p {
      font-size: 14px;
      margin-bottom: 15px;
      /* line-height: normal; */
    }
    .leftcont button {
      width: 142px;
      height: 32px;
      border-radius: 6px;
      font-size: 13px;
      padding: 15px 26px;
    }
    .rightcont > img {
      width: 336px;
      height: 268px;
      border-radius: 8px;
    }
  }
  
  @media only screen and (max-width: 670px) {
    .contentContainer {
      width: 90%;
      min-height: fit-content;
    }
    .contentContainer > .leftcont > h1 {
      font-size: 22px;
      margin: 0;
      line-height: normal;
    }
    .leftcont > p {
      font-size: 12px;
      margin-bottom: 15px;
      line-height: normal;
    }
    .leftcont button {
      width: 142px;
      height: 32px;
      border-radius: 6px;
      font-size: 13px;
      padding: 15px 26px;
    }
    .rightcont > img {
      width: 336px;
      height: 268px;
      border-radius: 8px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .contentContainer {
      width: 90%;
      /* border: 1px solid black; */
      flex-direction: column !important;
    }
    .contentContainer > .leftcont {
      width: 100%;
      /* border: 1px solid black;    */
    }
    .contentContainer > .rightcont > img {
      width: 100%;
      height: auto;
      border-radius: 8px;
      padding: 10%;
    }
    .contentContainer > .rightcont {
      width: 100%;
      margin-bottom: 20px;
      margin-top: 8%;
    }
    .leftcont button {
      width: 142px;
      height: 32px;
      border-radius: 6px;
      font-size: 14px;
      line-height: 0;
      /* font-size: 1rem; */
      padding: 0px;
    }
    .contentContainer > .leftcont > h1 {
      font-size: 26px;
    }
    .leftcont > .leftcont > p {
      font-size: 14px;
    }
  }

  /* -------------------------------------- */
  
.productContainer {
  /* width: 100%; */
  position: relative;
  overflow: hidden;
  height: auto;
  /* background-color: aqua; */
}
.decoratorpb_p {
  position: absolute;
  background: radial-gradient(
    50% 35% at 50% -10%,
    rgba(173, 0, 162, 0.5) 0%,
    rgba(217, 217, 217, 0) 100%
  );
  filter: blur(77px);
  transform: matrix(0.34, 0.94, -0.96, 0.26, 0, 0);
  width: 46.7925rem;
  height: 39.45rem;
  z-index: 0;
}
.decoratorpb_b {
  position: absolute;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(67, 136, 240, 0.4) 0%,
    rgba(217, 217, 217, 0) 100%
  );
  filter: blur(77px);
  transform: matrix(0.34, 0.94, -0.96, 0.26, 0, 0);
  width: 37.64875rem;
  height: 38.2875rem;
  z-index: 0;
}

/* .bpos-1 {
  top: 3rem;
  left: 5rem;
} */
.bpos_2 {
  top: 23rem;
  left: -8rem;
}
.bpos_3 {
  top: 28rem;
  right: 4rem;
}

/* .cpos-1 {
  top: 4rem;
  left: -6rem;
}

.cpos-2 {
  top: -15rem;
  left: 70rem;
  z-index: 0;
}

.cpos-3 {
  top: 22rem;
  right: 2rem;
}

.cpos-4 {
  top: 68rem;
  left: -7rem;
}

.cpos-5 {
  top: 80rem;
  right: -15rem;
} */

@media screen and (max-width: 800px) and (min-width: 300px) {
  .decoratorpb_b {
    display: none;
    /* position: absolute;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(67, 136, 240, 0.5) 0%,
      rgba(217, 217, 217, 0) 100%
    );
    filter: blur(77px);
    transform: matrix(0.34, 0.94, -0.96, 0.26, 0, 0);
    width: 37.64875rem;
    height: 38.2875rem;
    z-index: 0; */
  }
}

@media only screen and (max-width: 420px) {
  .decoratorpb_p {
    display: none !important;
    /* position: absolute;    
    background: radial-gradient(50% 50% at 50% 50%, rgba(173, 0, 162, 0.4) 0%, rgba(217, 217, 217, 0) 100%);
    filter: blur(77px);
    transform: matrix(0.34, 0.94, -0.96, 0.26, 0, 0);
    width: 46.7925rem;
    height: 39.45rem;
    z-index: 0; */
  }

  .decoratorpb_b {
    display: none !important;
    /* position: absolute;
    background: radial-gradient(50% 50% at 50% 50%, rgba(67, 136, 240, 0.5) 0%, rgba(217, 217, 217, 0) 100%);
    filter: blur(77px);
    transform: matrix(0.34, 0.94, -0.96, 0.26, 0, 0);
    width: 37.64875rem;
    height: 38.2875rem;
    z-index: 0; */
  }

  .bpos-1 {
    display: none !important;
    /* top:3rem;
        left: 5rem; */
  }

  .bpos-2 {
    display: none !important;
    /* top:23rem;
        left: -8rem; */
  }

  .bpos-3 {
    display: none !important;
    /* top:28rem;
       right:-20rem; */
  }

  .cpos-1 {
    display: none !important;
    /* top:4rem;
        left:-6rem */
  }

  .cpos-2 {
    display: none !important;
    /* top:-15rem;
        left:70rem;
        z-index: 0; */
  }

  .cpos-3 {
    display: none !important;
    /* top: 22rem;
       right: 2rem;  */
  }

  .cpos-4 {
    display: none !important;
    /* top:68rem;
        left:-7rem; */
  }

  .cpos-5 {
    display: none !important;
    /* top:80rem;
        right: -15rem; */
  }
}
