/* .psContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.psContentContainer {
  width: 1700px;
  max-height: fit-content;
  display: flex;
}

.psContentContainer > .leftcont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.leftcont > img {
  width: 90%;
  height: 500px;
  border-radius: 20px;
}
.psContentContainer {
  justify-content: center;
}

.psContentContainer > .rightcont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  height: 100%;
  padding-right: 9%;
  padding-top: 10px;
}

.psContentContainer > .rightcont > h1 {
  margin: 0;
  color: #000;
  font-family: "DM Sans", sans-serif;
  font-size: 46px;
  font-style: normal;
  font-weight: 500;
  line-height: 51px;
  padding-bottom: 20px;
}

.psContentContainer > .rightcont > p {
  color: #000;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  margin-bottom: 20px !important;
}

.psContentContainer > .rightcont button {
  width: 253px;
  height: 63px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ad00a2;
  color: #ad00a2;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 20px;
}

#link {
  width: max-content;
  text-decoration: none;
}

#link:hover {
  cursor: pointer;
}

.psContentContainer > .rightcont button:hover{
  cursor: pointer;
}

@media only screen and (max-width: 1800px) and (min-width: 1441px) {
  .psContentContainer {
    width: 1420px;
  }

  .leftcont > img {
    width: 650px;
    height: 450px;
  }

  .psContentContainer > .rightcont > h1 {
    padding-bottom: 12px;
  }

  .psContentContainer > .rightcont > p {
    margin-bottom: 12px;
  }

  .psContentContainer > .rightcont button {
    margin-top: 20px;
  }

  .psContentContainer > .rightcont {
    gap: 0px;
    padding-right: 3%;
    padding-left: 0;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1250px) {
  .psContentContainer {
    width: 1200px;
  }
  .leftcont > img {
    width: 550px;
    height: 420px;
  }
  .psContentContainer > .rightcont button {
    margin-top: 20px;
  }
  .psContentContainer > .rightcont {
    gap: 0px;
    padding-right: 5%;
  }
  .psContentContainer > .rightcont > h1 {
    font-size: 36px !important;
    line-height: 40px !important;
    padding-bottom: 20px;
  }
  .psContentContainer > .rightcont > p {
    font-size: 18px;
    margin: 0 !important;
    line-height: 24px;
    margin-bottom: 20px !important;
  }
  .psContentContainer > .rightcont button {
    width: 220px;
    height: 50px;
    font-size: 16px;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1250px) and (min-width: 980px) {
  .psContentContainer {
    width: 950px;
  }
  .leftcont > img {
    width: 420px;
    height: 360px;
  }

  .psContentContainer > .rightcont {
    padding-right: 5% !important;
  }

  .psContentContainer > .rightcont button {
    margin-top: 60px;
  }
  .rightcont > h1 {
    font-size: 24px !important;
    line-height: normal !important;
    margin: 0;
  }
  .psContentContainer > .rightcont > p {
    font-size: 13px;
    margin: 0;
    line-height: 20px;
  }
  .psContentContainer > .rightcont button {
    width: 200px;
    height: 50px;
    font-size: 13px;
    margin-top: 25px;
  }
}

@media only screen and (max-width: 980px) {
  .psContainer {
    margin-top: 50px;
  }
  .psContentContainer {
    width: 90%;
    min-height: fit-content;
  }
  .leftcont > img {
    width: 340px;
    height: 280px;
    border-radius: 8px;
  }

  .psContentContainer > .rightcont > h1 {
    font-size: 22px !important;
    line-height: 26px !important;
    margin: 0;
    padding-bottom: 10px;
  }
  .psContentContainer > .rightcont > p {
    font-size: 13px;
    line-height: 18px;
    margin: 0;
    margin-bottom: 10px !important;
  }
  .psContentContainer > .rightcont button {
    width: 165px;
    height: 35px;
    font-size: 13px;
    margin-top: 10px;
    border-radius: 6px;
  }
  .psContentContainer > .rightcont {
    height: 268px;
    padding-right: 1% !important;
    margin-left: 10px;
    padding-top: 0;
  }
}

@media only screen and (max-width: 768px) {
  .leftcont > img {
    width: 90%;
    height: 250px;
    border-radius: 8px;
  }
  .rightcont {
    padding-right: 2% !important;
  }

  .psContentContainer > .rightcont button {
    margin-top: 0px;
  }
  .rightcont > h1 {
    font-size: 22px !important;
    line-height: 26px !important;
    margin: 0;
  }
  .psContentContainer > .rightcont > p {
    font-size: 11px;
    line-height: 16px;
    margin: 0;
  }
  .psContentContainer > .rightcont button {
    width: 165px;
    height: 35px;
    font-size: 13px;
    margin-top: 10px;
    border-radius: 6px;
  }
}

@media only screen and (max-width: 600px) {
  .psContentContainer {
    flex-direction: column;
  }
  .psContentContainer > .leftcont {
    width: 100%;
    margin-bottom: 20px;
  }
  .psContentContainer > .leftcont > img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  .psContentContainer > .rightcont {
    width: 100%;
  }
} */

.psContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.psContentContainer {
  width: 1700px;
  max-height: 550px;
  display: flex;
  justify-content: space-between;
}

.leftcont {
  width: 45.17%;
  height: inherit;
}

.leftcont > img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.rightcont {
  width: 48.1%;
  height: inherit;
}

.rightcont > h1 {
  width: 100%;
  font-family: DM Sans;
  font-size: 0.875rem;
  font-size: clamp(
    0.875rem,
    0.3532608695652173rem + 2.608695652173913vw,
    3.125rem
  );
  font-weight: 700;
  line-height: normal;
  text-align: left;
  color: #000000;
  margin: 0;
}

.rightcont > p {
  width: 100%;
  font-family: DM Sans;
  font-size: 23px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  color: #000000;
  margin: 0;
  margin-bottom: 35px;
}

.rightcont button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  border: 2px solid #ad00a2;
  color: #ad00a2;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  border-radius: 10px;
}

.rightcont button {
  cursor: pointer;
}

#link {
  width: max-content;
  text-decoration: none;
}

#link:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1800px) and (min-width: 1441px) {
  .psContentContainer {
    width: 1420px;
    height: 465px;
  }
  .rightcont>p{
    font-size: 18px;
    line-height: 32px;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1250px) {
  .psContentContainer {
    width: 1200px;
    height: 422px;
  }
  .rightcont>p{
    font-size: 18px;
    line-height: 26px;
  }
}

@media only screen and (max-width: 1250px) and (min-width: 980px) {
  .psContentContainer {
    width: 950px;
    height: 310px;
  }
  .rightcont>h1{
    font-size: 32px;
  }
  .rightcont>p{
    font-size: 14px;
    line-height: normal;
  }
  .rightcont button{
    font-size: 14px;
    padding: 15px 40px;
  }
}

@media only screen and (max-width: 980px) {
.psContentContainer{
  width: 90%;
  height: 270px;
}
.rightcont{
  width: 50%;
}
.rightcont>p{
  font-size: 14px;
  line-height: normal;
  margin-bottom: 20px;
}
.rightcont button{
  font-size: 14px;
  padding: 10px 20px;
  font-weight: 600;
}
}

@media only screen and (max-width: 700px) {
  .rightcont>h1{
    font-size: 20px;
  }
  .rightcont>p{
    font-size: 13px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .psContentContainer{
    flex-direction: column;
    height: max-content;
  }
  .leftcont, .rightcont{
    width: 100%;
  }
  .leftcont{
    margin-bottom: 20px;
  }
  .rightcont>h1{
    font-size: 26px;
  }
  .rightcont>p{
    font-size: 14px;
    line-height: 18px;
    margin: 10px 0;
  }
  .rightcont button{
    font-size: 16px;
  }
}
