.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 78px;
  background: linear-gradient(108.56deg, #bfeeff, #ffe6f7 56.93%, #ffe6e6);
  border-radius: 0 0 60px 60px;
  box-shadow: 0 10px 30px #0000004d;
  /* margin: 3% 0; */
}

.contentContainer {
  width: 1700px;
  min-height: 600px;
  max-height: fit-content;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 100px;
}

.contentContainer > h1 {
  width: 70%;
  font-family: "DM Sans";
  font-size: 130px;
  font-weight: 700;
  line-height: 120px;
  text-align: left;
  color: rgba(173, 0, 162, 0.2);
  margin: 0;
  margin-bottom: 20px;
}

.subContainer {
  display: flex;
  width: 100%;
  align-items: flex-start;
  height: 500px;
}

.leftCont {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  gap: 20px;
}

.leftCont > h2 {
  font-family: "DM Sans";
  font-size: 48px;
  font-weight: 500;
  line-height: 54px;
  text-align: left;
  color: #b012a6;
  margin: 0;
  margin-bottom: 20px;
}

.leftCont > p {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #313131;
  margin: 0;
  margin-bottom: 40px;
}

.leftCont button {
  width: auto;
  height: auto;
  display: flex;
  padding: 20px 36px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #ad00a2;
  background: #ad00a2;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  font-family: "DM Sans";
}

.leftCont button:hover {
  cursor: pointer;
}

#link {
  width: max-content;
  text-decoration: none;
}

#link:hover {
  cursor: pointer;
}

.rightCont {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.rightCont > img {
  width: 70%;
  height: 80%;
  position: relative;
  top: -8rem;
}

@media only screen and (max-width: 1800px) and (min-width: 1500px) {
  .contentContainer {
    width: 1420px;
    padding-top: 100px;
  }
  .contentContainer > h1 {
    bottom: -15%;
  }
  .rightCont>img{
    width: 100%;
    top: -10rem;
  }
  .subContainer{
    height: 600px;
  }
}

@media only screen and (max-width: 1500px) and (min-width: 1250px) {
  .contentContainer {
    width: 1200px;
    padding-top: 100px;
  }
  .contentContainer > h1 {
    width: 80%;
    bottom: -8%;
    z-index: 100;
  }
  .rightCont>img{
    width: 100%;
    z-index: 1;
  }
}

@media only screen and (max-width: 1250px) and (min-width: 980px) {
  .contentContainer {
    width: 950px;
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .contentContainer > h1 {
    bottom: -0%;
    font-size: 90px;
    width: 100%;
  }
  .rightCont>img{
    width: 100%;
    aspect-ratio: 0;
    top: 0;
  }
}

@media screen and (max-width: 980px) and (min-width: 601px) {
  .container {
    padding-bottom: 50px;
  }
  .contentContainer {
    width: 90%;
    padding-top: 100px;
    min-height: 0;
    height: 500px;
  }
  .contentContainer > h1 {
    bottom: -0%;
    font-size: 4.25rem;
    font-size: 4.25rem;
    font-size: 4.25rem;
    font-size: clamp(
      4.25rem,
      2.069591029023747rem + 5.804749340369393vw,
      5.625rem
    );
    line-height: normal;
  }
  .subContainer {
    flex-direction: column;
  }
  .leftCont {
    width: 100%;
  }
  .rightCont {
    display: none;
  }
  .leftCont > h2 {
    font-size: 36px;
    line-height: 46px;
  }
  .leftCont > p {
    font-size: 20px;
    font-weight: 400px;
  }
  .leftCont button {
    padding: 15px 30px;
    font-weight: 500;
    font-size: 16px;
  }
}

@media screen and (max-width: 800px) and (min-width: 601px) {
  .container {
    padding-bottom: 50px;
  }
  .contentContainer{
    height: 600px;
    min-height: 0;
  }
}

@media screen and (max-width: 600px) {
  .container {
    border-radius: 0 0 30px 30px;
    padding-bottom: 30px;
  }
  .contentContainer {
    width: 90%;
    min-height: 0;
    height: 380px;
    padding-top: 60px;
  }
  .contentContainer > h1 {
    bottom: -0%;
    font-size: 1.5rem;
    font-size: clamp(
      1.5rem,
      -0.0714285714285714rem + 7.857142857142857vw,
      2.875rem
    );
    line-height: normal;
    margin-bottom: 10px;
  }
  .subContainer {
    flex-direction: column;
  }
  .leftCont {
    width: 100%;
  }
  .rightCont {
    display: none;
  }
  .rightCont>img{
    width: 100%;
  }
  .leftCont > h2 {
    font-size: 0.875rem;
    font-size: clamp(
      0.875rem,
      0.017857142857142794rem + 4.285714285714286vw,
      1.625rem
    );
    line-height: normal;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .leftCont > p {
    font-size: 14px;
    font-weight: 400px;
    line-height: normal;
    margin-bottom: 25px;
  }
  .leftCont button {
    padding: 10px 20px;
    font-weight: 500;
    font-size: 14px;
  }
}
