.accordion {
    width: 70%; 
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    transition: 1s;
    
  }
  .accordion-item5{
    height: fit-content;
    margin-bottom: 0px;
    cursor: pointer; 
  }
  .accordion-item1,.accordion-item2,.accordion-item3,.accordion-item4{  
    margin-bottom: 0px;
    cursor: pointer; 
    transition: 1s;
    border-bottom: 1px solid #C0C0C0;
  }
  .accordion-item1>.accordion-title{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }

  .accordion-item5>.accordion-content{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .accordion-title {
    display: flex;
    align-items: center;
    padding-left: 20px;
    /* padding: 10px; */

    background-color: #f9f9f9;
    height: 50px;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #2c2c2c;
    font-family: "DM Sans";
  }
 
  .accordion-content {
    padding-left: 20px;
    padding-right: 10px;
    /* padding: 10px; */
    border-top: 1px solid #f9f9f9;
    background-color: #f9f9f9;
    min-height:295px;
    max-height: 295px;
    overflow-y: auto;
    font-weight: 500;
    font-size: 18px;
    color: #1D1D1D;
    transition: 1s;
    font-family: "DM Sans";
  }
.lastprogress{
  margin-left: 5%;
  margin-right: 5%;

  border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
@media only screen and (max-width:1800px) and (min-width:1500px){
  .accordion {
    width: 80%; 
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    
  }
  .accordion-content{
    min-height:245px;
    max-height: 245px;
  }
}
@media only screen and (max-width:1500px) and (min-width:1250px){
  .accordion {
    width: 85%; 
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    
  }
   .accordion-title{
    height: 45px;
    font-size: 22px;
    line-height: 30px;
   }
  .accordion-content{
    min-height:220px;
    max-height: 220px;
  }
}
@media only screen and (max-width:1250px) and (min-width:980px){
  .accordion {
    width: 100%; 
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    
  }
   .accordion-title{
    height: 40px;
    font-size: 20px;
    line-height: 30px;
   }
  .accordion-content{
    min-height:195px;
    max-height: 195px;
    font-size: 16px;
  }
}
@media  screen and (max-width:980px){
  .accordion {
    width: 80%; 
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    height: fit-content;
    
  }
   .accordion-title{
    height: fit-content;
    
    font-size: 20px;
    line-height: 50px;
   }
  .accordion-content{
    min-height:fit-content;
    max-height: fit-content;
    font-size: 18px;
  }
}
@media screen and (max-width:600px){

  .accordion-title{
    height: fit-content;
    font-size: 18px;
    line-height: 50px;
    font-weight: 600;
   }
  .accordion-content{
    min-height:fit-content;
    max-height: fit-content;
    font-size: 16px;
    font-weight: 400;
  }
  .accordion{
    width:100%;
  }
}





   

/* @media only screen and (max-width:1500px) and (min-width:1200px){
    .accordion{
        width: 30vw;
    }
    .accordion-title {
      display: flex;
      align-items: center;
      padding-left: 2vw;
  
      background-color: #f9f9f9;
      height: 6vh;
      font-weight: 700;
      font-size: 20px;
      line-height: 25px;
      color: #1D1D1D;
    }
    
    .accordion-content {
      padding-left: 2vw;
      padding-right: 1vw;
    
      border-top: 1px solid #f9f9f9;
      background-color: #f9f9f9;
      min-height: 19.7vh;
      max-height: 19.7vh;
      overflow-y: auto;
      font-weight: 500;
      font-size: 14px;
      color: #1D1D1D;
      transition: height 3s ease;
    }
} */
/* @media only screen and (max-width:1000px){
  .accordion{
    width: 80vw;
  }
}
@media only screen and (max-width:1200px) and (min-width:1000px){
  .accordion{
      width: 30vw;
  }
  .accordion-title {
    display: flex;
    align-items: center;
    padding-left: 2vw;
    /* padding: 10px; */
/* 
    background-color: #f9f9f9;
    height: 6vh;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    color: #1D1D1D;
  }
  
  .accordion-content {
    padding-left: 2vw;
    padding-right: 1vw; */
    /* padding: 10px; */
    /* border-top: 1px solid #f9f9f9;
    background-color: #f9f9f9;
    min-height: 19.7vh;
    max-height: 19.7vh;
    overflow-y: auto;
    font-weight: 500;
    font-size: 14px;
    color: #1D1D1D;
    transition: height 3s ease;
  }
} */
/* @media only screen and (max-width:500px){

  .accordion-title {
   
    font-weight: 700;
    font-size: 17px;
    line-height: 17px;
    color: #1D1D1D;
  }
  .accordion-content {

    font-size: 14px;
  }
}  */

