@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirLTStd-Black'), url('/fonts/AvenirLTStd-Black.otf') format('truetype');
}

