*{
    margin: 0px;
    /* font-family: "DM Sans"; */
    padding: 0px;
}
ul{
  text-decoration: none;
  list-style: none;
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");
@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirLTStd-Black'), url('../fonts/AvenirLTStd-Black.otf') format('truetype');
}

img{
  object-fit: contain;


}