#swiperId {
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-top: 10px;
}

.hack {
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 0;
}

@media screen and (max-width: 768px) and (min-width: 661px) {
  .hack {
    text-align: center;
    vertical-align: middle;
  }
}

@media screen and (max-width: 660px) and (min-width: 559px) {
  /* #swiperId {
    height: 53px;
  } */
}

@media screen and (max-width: 559px) and (min-width: 480px) {
  #swiperId {
    height: 37px;
  }

  .hack {
    font-size: 36px;
    margin-bottom: 0px;
    text-align: left !important;
    align-items: center;
  }
}

/* @media screen and (max-width: 425px) {
  #swiperId {
    text-align: left;
    transform: translateX(-5%);
  }
} */

@media screen and (max-width: 480px) and (min-width: 380px) {
  #swiperId {
    height: 29px;
  }

  .hack {
    font-size: 28px;
    margin-bottom: 0px;
    text-align: left !important;
    align-items: center;
  }
}

@media screen and (max-width: 379px) and (min-width: 300px) {
  #swiperId {
    height: 26px;
    /* display: flex;
    justify-content: flex-start; */
  }

  .hack {
    font-size: 24px;
    margin-bottom: 0px;
    text-align: left !important;
    align-items: center;
  }
}

/* @media screen and (max-width: 480px) and (min-width: 380px) {
} */
